@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
* {
  margin: 0px;
  padding: 0px;
  /* width: 100%; */
}

.header {
  background-color: #fa6508;
  align-items: center;
  position: sticky;
  width: 100%;
}
#bharat-img {
  mix-blend-mode: multiply;
  filter: contrast(1);
}

#main-logo {
  width: 160px;
  object-fit: cover;
  margin-left: 20px;
  mix-blend-mode: multiply;
  filter: contrast(1);
}
.logo {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  align-items: center;
  height: 75px;
}
#jklogo {
  padding: 2px;
}
.left-logo img {
  margin: 10px;
}

#topLogoContainer {
  padding: 5px;
  background-color: #d1fff8;
  display: flex;
  align-items: center;
  text-align: center;
}

#miiLogo {
  margin-left: 900px;
}
#miiLogo img {
  margin-left: 10px;
}
#ministerImages img {
  height: 300px;
  width: 300px;
  border-radius: 5px;
}
.extraLogo {
  border-radius: 50px;
  height: 70px;
  width: 70px;
}
.extraLogoMII {
  border-radius: 20px;
  height: 70px;
  width: 130px;
}

#signUpDiv {
  position: absolute;
  right: 10px;
}
#signUpDiv button {
  height: 40px;
  width: 80px;
  border-radius: 20px;
  background-color: rgb(62, 129, 62);
  color: white;
  border: none;
}

.midContainer {
  margin-top: 200px;
}

#stateWelcomeDiv {
  font-family: 'Ubuntu', cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

#posterDiv {
  padding: 15px;
}

#secondaryContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#secondaryContainer div {
  width: 50%;
}

#mapNews {
  height: 400px;
  display: flex;
  align-items: center;
}

.newsDiv {
  border: 2px solid grey;
  height: 90%;
  width: 25%;
  margin: 10px;
}

.newsDiv ul {
  padding: 10px;
}
.newsDiv ul li {
  font-size: 14px;
  border-bottom: 1px solid grey;
  color: #c80000;
  list-style: none;
}

#map {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90%;
  width: 50%;
}
#map img {
  height: 355px;
  width: 700px;
}

#catalogDiv {
  display: flex;
  flex-wrap: wrap;
}

.product-name {
  color: #c80000;
}

.card {
  height: 21rem;
  text-align: center;
  align-items: center;
  margin: 8px 20px 0px 50px;
}
.card img {
  height: 220px;
  width: 220px;
}

#footer {
  background-color: rgb(140, 135, 135);
  margin-top: 10px;
}

#footer div {
  height: 300px;
  display: flex;
  align-items: center;
  color: white;
}

#footer div ul {
  margin: 50px;
  width: 30%;
}
#footer div ul li {
  margin: 20px;
  list-style: none;
}
#footer div ul li a {
  text-decoration: none;
  color: white;
}
.welcome {
  font-family: 'Ubuntu', cursive;
  font-weight: bolder;
  font-size: 51px;
}
.district {
  font-family: ui-monospace;
  font-weight: bolder;
  color: maroon;
}
